*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
}
header .logo{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo img{
    width: 50px;
    cursor: pointer;
}
.logo h1{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}
nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
    margin-right: 200px;
}
nav a{
   text-decoration: none;
   color: black;
   letter-spacing: 1px;
   transition: 1s ease all;
}
.btn-button{
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.btn-button .login, .signup{
    width: 120px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.btn-button .login{
    background-color: rgb(34, 34, 208);
    color: white;
    border: none;
    border-radius: 5px;
}
.btn-button .signup{
    background-color: white;
    color:rgb(34, 34, 208) ;
    border: 1px solid rgb(34, 34, 208);
    border-radius: 5px;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    border-radius: 15px;
}

.title{
    font-size: 30px !important;
    color: black;
    font-weight: 100;
    width: 100%;
    

}
.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.input-group input, .acct-btn{
    width: 100%;
    padding: 15px;
    outline: none;
    border: 1px solid grey;
    font-weight: lighter;
    color: black;
}
.input-group input::placeholder{
    font-weight: 100;
}
.input-group input:focus{
    border: 1px solid rgb(23, 111, 188);
}
.input-group .acct-btn{
    border: 1px solid rgb(23, 111, 188);
    color: grey;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 2s ease all;
}
.input-group .acct-btn:hover{
    background-color: rgb(23, 111, 188);
    color: white;
}

.comment-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    border: 0.5px solid black;
    background:url("./images/dateme.webp");
    padding-left: 10px;
 
}

.input-group textarea{
    width: 100%;
    height: 60px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
.input-group textarea:focus{
    border: 1px solid crimson;
    outline: none;
}
.social-account{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.social-account span{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 16px;
    font-weight: 200;
    color: grey;
}
.social-account p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-account p a:hover img{
    filter: grayscale(1);}



@keyframes colorful{
    0%{
    
    }
    25%{
    
    }
    50%{
    
    }
    75%{
    
    }
    100%{
    
    }
}
@keyframes fading{
    0%{background-image: url("./image/btc.jpeg");
        
    }
    25%{background-image: url("./image/btc1.jpeg");
        
    }
    50%{background-image: url("./image/euth1.avif");
       
    }
    75%{background-image: url("./image/eutherium.jpeg");
        
    }
    100%{background-image: url("./image/dodge.jp");
        
    }
    
}


main{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    position: relative;
    
    transition: all ease .5s;
    animation: fading;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    background-image: url("./image/btc.jpeg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    top: 100px;
    position: absolute;
    gap: 10px;
}
.banner h1{
    font-size: 80px;
}
.banner p{
    font-size: 40px;
}
 .bannerlogo img{
    position: absolute;
    width: 1000px;
    left: 350px;
    top: 680px;
    border-radius: 30px;
    cursor: pointer;
}
.bitphone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1500px;
    gap: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;
    background-color: aliceblue;
}
.bitphone h1{
    font-size: 50px;
}
.bitphone p{
    width: 400px;
    font-size: 20px;
    font-weight: 100;
}
.bitphone small{
    cursor: pointer;
    color:rgb(34, 34, 208) ;
}
.bitphone img{
    width: 700px;
}

.a2phone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:2500px;
    gap: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.a2phone h1{
    font-size: 50px;
}
.a2phone p{
    width: 400px;
    font-size: 20px;
    font-weight: 100;
}

.a2phone img{
    width: 700px;
}


.a3phone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:3500px;
    gap: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;
    background-color: aliceblue;
}
.a3phone h1{
    font-size: 50px;
}
.a3phone p{
    width: 400px;
    font-size: 20px;
    font-weight: 100;
}

.a3phone img{
    width: 700px;
}
.a4phone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:4500px;
    gap: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;

}
.a4phone h1{
    font-size: 50px;
}
.a4phone p{
    width: 400px;
    font-size: 20px;
    font-weight: 100;
}

.a4phone img{
    width: 500px;
}
.a5phone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:5200px;
    gap: 100px;
    letter-spacing: 1px;
    word-spacing: 1px;
 

}
.a5phone h1{
    font-size: 50px;
}
.a5phone p{
    width: 400px;
    font-size: 20px;
    font-weight: 100;
}

.a5phone img{
    width: 600px;
}
.a6computer{
    width: 100%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:6000px;
    gap: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    background-color: aliceblue;

}
.a6computer h1{
    font-size: 35px;
    font-weight: 600;
    left: 10px;
}
.a6computer h1{
    font-size: 35px;
    font-weight: 600;
}
.a6computer span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a6computer img{
    width: 800px;
}
/* .payment{
    position: absolute;
    top:7000px;
}
.payment img{
    width: 800px;
    height: 800px;
} */
.faq1{
    width:100% ;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top:7140px;

}
.faq1 h1{
    font-size: 45px;
}
.faq1 .input-group{
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-radius: 30px;
    background:linear-gradient(rgba(206, 199, 199, 0.1),rgba(197, 191, 191, 0.1)) ;

}
.faq1 .input-group b{
    font-size: 27px;
    font-family: 400;
    color: rgb(77, 75, 75);
}
.faq1 .input-group .plus-btn{
    border: none;
    border-radius: 30px;
  

}
.input-group .plus-btn img{
    width: 45px;
    background-color: transparent;
    border-radius: 30px;
    background-color: rgba(0, 0, 255, 0.854);
    cursor: pointer;

}
.footer{
    width: 80%;
    height: 200px;
    padding: 0 40px;
    margin-top: 300px;
    position: relative;
    top: 7500px;
}
.footer p{
    font-weight: 100;
    color:rgb(116, 113, 113) ;
}
.endfaqs{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7600px;
    font-size: 20px;
}
.endfaqs a{
    color: rgb(27, 202, 202);
}

.menu-btn {
    display: none ;
}
.close-btn {
    display: none ;
}


@media (max-width:460px){
    
    header{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        position: fixed;
        top: 0;
        z-index: 10;
        background-color: white;
    }
    header .logo{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .logo img{
        width: 70px;
        cursor: pointer;
    }

    .logo h1{
        font-size: 29px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .display-menu {
        display: flex;
        justify-content: center;
        align-items: center;
       
        margin-top: 580px;
        margin-left: 200px;
        flex-direction: column;
        height: 500px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;
        background-color: aliceblue;
        right:100%;
        padding: 20px;
        transition: .4s ease all;
        position: absolute;
     
    }
    .display-menu a {
        padding-left: 750px;
        gap: 30%;
        font-size: 25px;
    }
  
    
    nav a{
       text-decoration: none;
       color: black;
       letter-spacing: 1px;
       transition: 1s ease all;
    }
    .btn-button{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: absolute;
        right: 200px;
    }
    .btn-button .login, .signup{
        width: 160px;
        height: 40px;
        font-size: 20px;
        cursor: pointer;
    }
    .btn-button .login{
        background-color: rgb(34, 34, 208);
        color: white;
        border: none;
        border-radius: 5px;
    }
    .btn-button .signup{
        background-color: white;
        color:rgb(34, 34, 208) ;
        border: 1px solid rgb(34, 34, 208);
        border-radius: 5px;
    }
    main{
        width: 1350px;
        height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:rgb(34, 34, 208) ;
        position: relative;
    }
    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        top: 100px;
        position: absolute;
        gap: 10px;
    }
    .banner h1{
        font-size: 80px;
        margin-bottom: 20px;

    }
    .banner p{
        font-size: 40px;
        margin-bottom: 20px;

    }
    
     .bannerlogo img{
       display: flex;
       justify-content: center;
       align-items: center;
        position: absolute;
        width: 1000px;
        left: 200px;
        top: 600px;
        border-radius: 30px;
        cursor: pointer;
    }
    .bitphone{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1400px;
        gap: 100px;
        letter-spacing: 1px;
        word-spacing: 1px;
        background-color: aliceblue;
    }
    .bitphone h1{
        font-size: 60px;
    }
    .bitphone p{
        width: 400px;
        font-size: 30px;
        font-weight: 100;
    }
    .bitphone small{
        cursor: pointer;
        color:rgb(34, 34, 208) ;
    }
    .bitphone img{
        width: 700px;
    }
    
    .a2phone{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:2500px;
        gap: 100px;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .a2phone h1{
        font-size: 60px;
    }
    .a2phone p{
        width: 400px;
        font-size: 30px;
        font-weight: 100;
    }
    
    .a2phone img{
        width: 700px;
    }
    
    
    .a3phone{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:3500px;
        gap: 100px;
        letter-spacing: 1px;
        word-spacing: 1px;
        background-color: aliceblue;
    }
    .a3phone h1{
        font-size: 60px;
    }
    .a3phone p{
        width: 400px;
        font-size: 30px;
        font-weight: 100;
    }
    
    .a3phone img{
        width: 700px;
    }
    .a4phone{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:4500px;
        gap: 100px;
        letter-spacing: 1px;
        word-spacing: 1px;
    
    }
    .a4phone h1{
        font-size: 60px;
    }
    .a4phone p{
        width: 400px;
        font-size: 30px;
        font-weight: 100;
    }
    
    .a4phone img{
        width: 500px;
    }
    .a5phone{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:5200px;
        gap: 100px;
        letter-spacing: 1px;
        word-spacing: 1px;
     
    
    }
    .a5phone h1{
        font-size: 60px;
    }
    .a5phone p{
        width: 400px;
        font-size: 30px;
        font-weight: 100;
    }
    
    .a5phone img{
        width: 600px;
    }
    .a6computer{
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top:6000px;
        gap: 20px;
        letter-spacing: 1px;
        word-spacing: 1px;
        background-color: aliceblue;
    
    }
    .a6computer h1{
        font-size: 50px;
        font-weight: 600;
        left: 20px;
    }
    .a6computer h1{
        font-size: 50px;
        font-weight: 600;
    }
    .a6computer span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .a6computer img{
        width: 800px;
    }
    /* .payment{
        position: absolute;
        top:7000px;
    }
    .payment img{
        width: 800px;
        height: 800px;
    } */
    .faq{
        width:100% ;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        top:7140px;
    
    }
    .faq h1{
        font-size: 55px;
    }
    .faq .input-group{
        width: 70%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 60px;
        border-radius: 30px;
        background:linear-gradient(rgba(206, 199, 199, 0.1),rgba(197, 191, 191, 0.1)) ;
    
    }
    .faq .input-group b{
        font-size: 35px;
        font-family: 400;
        color: rgb(77, 75, 75);
    }
    .faq .input-group button{
        border: none;
        border-radius: 30px;
      
    
    }
    .faq .input-group img{
        width: 45px;
        background-color: transparent;
        border-radius: 30px;
        background-color: rgba(0, 0, 255, 0.854);
        cursor: pointer;
    
    }
    .footer{
        width: 90%;
        height: 220px;
        padding: 0 40px;
        margin-top: 300px;
        position: relative;
        top: 7500px;
    }
    .footer p{
        font-weight: 100;
        color:rgb(116, 113, 113) ;
        font-size: 18px;
    }
    .endfaqs{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 7600px;
        font-size: 30px;
    }
    .endfaqs a{
        color: rgb(27, 202, 202);
    }     
   



















    .show-nav {
        right: 50%;
    }
    .menu-btn {
        width: 70px;
        cursor: pointer;
        transition: .3s ease;
    display: flex ;
    position: absolute;
    left: 1200px;
    top: 5px;
}
.close-btn {
    cursor: pointer;
        transition: .3s ease;
    display: none ;
    position: absolute;
    left: 1200px;
    top: 5px;
}
}